body {
    background: #eee;
    text-align: center; /* Center the text content */
}

.head {
    text-align: center;
}

.blog-card {
    padding: 30px;
    position: relative;
}

.blog-card__info {
    background: white;
    padding: 20px 15px;
    text-align: left; /* Align the text content to the left */
}

img {
    display: block;
    margin: 0 auto; /* Center the image */
    max-width: 100%; /* Ensure the image does not exceed its container */
    height: 450px; /* Maintain aspect ratio */
    width:900px;

}

.image-container {
    text-align: center; /* Center the image */
}

